# requirements.txt

# --- Core Frameworks ---
Flask>=2.0
gunicorn>=20.0
python-dotenv

# --- LangChain y Ecosistema de IA ---
langchain
langchain-community
langchain-core
langchain-google-genai
langchain-openai
langchain-huggingface
google-generativeai
langchain-mistralai  
langchain-cohere   
pydantic>=2.0,<3.0

# --- Vector DB y Embeddings ---
chromadb
sentence-transformers
onnxruntime

# --- Procesamiento de Documentos ---
pymupdf


# --- NUEVO: Framework de Evaluación RAG ---
ragas
datasets

# --- Utilidades ---
certifi
#numpy==1.26.4
pandas
numpy